---
const { id = "full", className = "container"} = Astro.props
---

<section id={id} class={className}>
    <slot/>
</section>

<style lang="scss">
    section {
        padding: var(--global-s1);
    }
</style>