@import "../global";

// Branding colors
#branding-colors {
  // Select elements with class starting with 'bg-'
  [class^="bg-"] {
    display: flex;
    min-width: $global-s1;
    min-height: $global-s1;
    justify-content: center;

    p {
      line-height: 2;
    }
  }
}

// Text colors
#text-color {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: $global-s1 0;
    padding: $global-s1;
    justify-content: space-around;
    @include border();

    li {
      list-style: none;
      text-transform: capitalize;
    }

    .text-white {
      color: $black-3;
    }
  }
}

// Button styling
button.bg-white.button-item {
  background-color: $black-1;
  a {
    color: $black-3;
  }
}

// Background color list
#background-color-list {
  display: grid;
  padding: 0;
  margin: $global-s1 0;
  text-align: center;

  h2 {
    margin: $global-s1 0;
  }

  li {
    padding: $global-s1;
    margin: $global-s1;
  }

  .tab-content {
    display: none;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .active {
    display: grid;
    opacity: 1;
  }

  // Apply styles when parent has 'active' class
  &.active .tab-content {
    display: grid;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .mobile-button {
    display: none;
  }
}

// Color shades
.color-shades {
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "variant-label variant-label"
    "light-variant dark-variant";
  gap: $global-s1;
}

// Variant label
.variant-label {
  grid-area: variant-label;
  margin: 0;
  padding: $global-s1;
  text-transform: uppercase;
  background-color: $white-2;
}

// Light variant
.light-variant {
  grid-area: light-variant;
}

// Dark variant
.dark-variant {
  grid-area: dark-variant;
  color: $white;

  h4 {
    color: $white;
  }

  p {
    color: $white;
  }
}

// Light and dark variant common styles
.dark-variant,
.light-variant {
  h4 {
    line-height: calc($global-line-height * 2);
  }
}

#buttons {
  button {
    margin: $global-s1;
  }

  #button-description {
    padding: $global-s1;
  }
}
