@import "../_global"; // Import global styles
@import "../animations"; // Import animations

.tab-header {
  display: flex;
  flex-direction: row;
  flex: 1 1 0%;
  color: $black-7;
  font-family: $primary-font;

  .button-item {
    display: flex;
  }
  
  .button-item:first-child {
    margin-left: 0;
  }
  
  .button-item:last-child {
    margin-right: 0;
  }
}

.tab-content {
  padding: $global-s1;
  display: none;
  opacity: 0;
  flex-direction: column;
  transition: opacity 0.3s ease;

  &.active {
    display: flex;
    opacity: 1;
  }

  .button-item {
    display: none;
    opacity: 0;
  }

  code {
    display: block;
    text-align: left;
    padding: $global-s1;
    margin: $global-s1;
  }
}

.button-item {
  background-color: $primary-color;
  border-style: none;
  border-radius: 0;
  outline: none;
  border-top-right-radius: calc($global-radius * 3);
  display: flex;
  flex-direction: row;
  flex: 1 1 0%;
  margin: 0 0.05rem;
  padding: 1rem * .25 2rem * .5;
  transition: all 0.3s ease;

  a {
    color: $white-8;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 18px;
    padding: 5px 0;
    border-style: none;
    text-decoration: none;
  }

  :not(:last-of-type) a {
    border-right: 0;
  }

  [id^="section-"] {
    display: none;
    padding: $global-s1;
    flex-direction: column;
  }

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  &.mobile-button {
    display: none;
  }
}

.active {
  display: flex;
}

.section-heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: $global-s1 0;
}

#tabs h2,
#tabs h3,
#tabs h4 {
  padding: $global-s1 0;
  font-weight: 700;
}

table {
  border-radius: $global-s1;

  thead {
    background-color: $black-3;
    padding: $global-s1;
  }

  td,
  th {
    padding: calc($global-s1 * 0.3) $global-s1;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: $primary-color;
  }

  tr:last-child td:first-child {
    border-radius: 0 0 0 $global-s1;
  }

  tr:last-child td:last-child {
    border-radius: 0 0 $global-s1 0;
  }

  tbody tr {
    border: none;
  }
}

.video-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 767px) {
  .tab-header {
    flex-direction: column;
    margin: $global-s1;
  }

  .button-item {
    margin: calc($global-s1 - 0.9rem) 0;
    border-top-right-radius: 0;
  }
}
