---

---
<footer>
    <h4>Cat Studios Online | Footer</h4>
</footer>

<style lang="scss">
    footer {
    display: grid;
    background-color: --black-7;
    position: relative;
    padding: calc(var(--global-s1) * .25);
    bottom: 0;

    h4 {
        color: --white-5;
    }
    }
</style>