---
import Social from "./social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>
    Learn more about my projects on:
    <Social platform="twitter.com" username="CIandD" />
    <Social platform="github.com" username="benparker05" />
    <Social platform="codepen.io" username="benparker05" />
  </p>
  <p>
    <small>Copyright &copy<span id="copyright"></span></small> | All rights reserved.
  </p>
</footer>

<script>
  document.querySelector("#copyright").textContent = copyright = new Date()
    .getFullYear()
    .toString();
</script>
