---

---
<footer>
    <h4>Cat Studios Online | Footer</h4>
</footer>

<style lang="scss">
    footer {
    display: grid;
    background-color: var(--primary-background-color);
    padding: calc(var(--global-s1) * .5);

        h4 {
            color: var(--primary-text-color);
        }
    }
</style>