---

---
<footer>
    <h4>Cat Studios Online | Footer</h4>
</footer>

<style>
    footer {
    display: grid;
    background-color: oklch(0% 0 0 / 50%);
    position: relative;
    padding: calc(var(--global-s1) * .25);
    bottom: 0;
    & h4 {
        color: var(--white);
    }
    }
</style>