---
import '../styles/components/Navigation.scss';
import Navigation from '../components/Navigation.astro'
---

<header class="mast">
    <div class="site-title">
        <h1>Site Name</h1>
    </div>
    <nav class="nav-links">
        <Navigation/>
    </nav>
</header>

<style lang="scss">
    .mast {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "site-title nav-links";
        justify-items: center;
        align-items: stretch;
        background-color: black;
    }
    .site-title {
        grid-area: site-title;
        font-size: 1.5rem;
        h1 {
        color: white;
        }
        a {
        color: white;
        }
    }
    
    .nav-links {
    grid-area: nav-links;
    display: flex;
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 1rem;
    .active {
        background-color: #ffffff20;
    }
    li {
        height: 100%;
        display: flex;
        align-items: center;
    }
    li:hover {
        background-color: #ffffff30;
    }
    }
</style>