---
import Full from '../layouts/sections/Full.astro';
import Resume from '../layouts/sections/Resume.astro';
import PostLinks from './PostLinks.astro';
---
<main>
  <!-- Hero Box -->
  <Full id="full-section" className="hero">
    <h1>Welcome to Cat Studios Online</h1>
    <p>Here's what Bill has been upto lately. </p>
  </Full>

  <!-- Passed in in content -->
  <slot />
  
  <!-- Blog links -->
  <PostLinks />

  <!-- Reume  -->
  <Resume className="resume" />
</main>

<style lang="scss">
  .hero {
    padding: var(--global-s2);
      background-color: var(--black-9);
      color: var(--primary-text-color);

      & h1 {
        color: inherit;
        margin: 0;
      }
  }
</style>