---
import Full from '../layouts/sections/Full.astro';
import Resume from '../layouts/sections/Resume.astro';
---
<main>
  <h1>{}</h1>
  <Full id=""><h1>Welcome to Cat Studios Online</h1></Full>
  <Resume></Resume>
</main>

<style>
    main {
        width: 80%;
        margin: auto;
        background-color: var(--black-2);
    }
</style>