---
const { mainClass } = Astro.props;
---
<main class={mainClass}>
  <!-- Passed in content -->
  <slot />
</main>

<style lang="scss">
  main {
    background-color: var(--primary-background-color);
    display: grid;
  }
</style>