---
---
<>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
</>

<style>
    a {
        color: inherit;
        height: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0 calc(var(--global-s1) * .5);
    }

    & :hover, &:visited, &:active {
      background-color: var(--primary-background-color);
    }
</style>