---
import Social from "./social.astro";
---

<div class="nav-links">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <Social platform="twitter.com" username="CIandD" />
  <Social platform="github.com" username="benparker05" />
  <Social platform="codepen.io" username="benparker05" />
</div>
