---
---
<>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
</>

<style>
    a {
        color: rgba(255, 255, 255, 0.3);
        height: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0 calc(var(--global-s1) * .5);
    }
    & :hover, & :visited, & :active {
        background-color: oklch(0% 0 0 / 56%);
    }
</style>