---
import LayoutBasic from "@layouts/Layout-Basic.astro";
import Resume from "@layouts/sections/Resume.astro";

const pannelClasses = ["c-13", "bg-byzantium"];
const colOneClasses = [];
const colTwoClasses = [];
const title = "About";

---

<LayoutBasic>

  <Resume pannelClass={pannelClasses} colOneClass={colOneClasses} colTwoClass={colTwoClasses} title={title}>
    <h3>Cat Studios</h3>
    <p>CatStudios.Online is the personal website for Bill Wallbaum/Walown. It features all the tallents and projects from art work, graphic design, web development, and audio projects</p>
    <p>Below is the CV of Bill and all his official works. Click on a section to the left to see a brief overview, for more details click on the cards to expand more information.</p>
  </Resume>
  <!-- Reume  -->
</LayoutBasic>

<style lang="scss">
</style>