---
import LayoutBasic from "@layouts/Layout-Basic.astro";
import Resume from "@layouts/sections/Resume.astro";

const pannelClasses = ["c-13", "bg-byzantium"];
const colOneClasses = [];
const colTwoClasses = [];
const title = "About";

---

<LayoutBasic>

  <!-- Reume  -->
  <Resume sectId="resume" pannelClass={pannelClasses} colOneClass={colOneClasses} colTwoClass={colTwoClasses} title={title}>
    <h3>this is slotted information</h3>
    <p>Slotted information can be useful in situations where you need to add just a little bit of information to any given component.</p>
  </Resume>
</LayoutBasic>

<style lang="scss">
</style>