---
import LayoutBasic from "@layouts/Layout-Basic.astro";
import Resume from "@layouts/sections/Resume.astro";
---

<LayoutBasic>
    <h1>About</h1>

  <!-- Reume  -->
  <Resume className="resume" />
</LayoutBasic>