---
import PostLinks from "@components/PostLinks.astro";
import LayoutBasic from "@layouts/Layout-Basic.astro";
import Full from "@layouts/sections/Full.astro";
import Resume from "@layouts/sections/Resume.astro";

const pannelClasses = ["c-46", "bg-tertiary", "container"];
const colOneClasses = [];
const colTwoClasses = [];
const title = "Bill's CV";
---

<LayoutBasic>
  <!-- Hero Box -->
  <Full id="full-section" className="hero">
    <h1>Welcome to Cat Studios Online</h1>
    <p>Here's what Bill has been upto lately. </p>
  </Full>
  
  <!-- Blog links -->
  <PostLinks />

  <!-- Reume  -->
  <Resume sectId="resume" pannelClass={pannelClasses} colOneClass={colOneClasses} colTwoClass={colTwoClasses} title={title}/>
</LayoutBasic>

<style lang="scss">  
  .hero {
    padding: var(--global-s2);
      background-color: var(--primary-background-color);
      color: var(--primary-text-color);

      & h1 {
        color: inherit;
        margin: 0;
      }
  }
</style>