$primary-color: #90a963;
$secondary-color: #87008d;
$tertiary-color: #172250;
$lightblue: #054f8e;
$red: #96000f;
$yellow: #f3ea21;
$black: #000000;
$white: #ffffff;

// shades
$gray-1: #1a1a1a;
$gray-2: #333333;
$gray-3: #4d4d4d;
$gray-4: #666666;
$gray-5: #808080;
$gray-6: #999999;
$gray-7: #b3b3b3;
$gray-8: #cccccc;
$gray-9: #e6e6e6;

// opacities
$black-1: #0000001a;
$black-2: #00000033;
$black-3: #0000004d;
$black-4: #00000066;
$black-5: #00000080;
$black-6: #00000099;
$black-7: #000000b3;
$black-8: #000000cc;
$black-9: #000000e6;

$white-1: #ffffff1a;
$white-2: #ffffff33;
$white-3: #ffffff4d;
$white-4: #ffffff66;
$white-5: #ffffff80;
$white-6: #ffffff99;
$white-7: #ffffffb3;
$white-8: #ffffffcc;
$white-9: #ffffffe6;

$colors: (
  "primary": $primary-color,
  "lightblue": $lightblue,
  "secondary": $secondary-color,
  "red": $red,
  "tertiary": $tertiary-color,
  "yellow": $yellow,
  "black": $black,
  "white": $white,
);

$primary-font: sans-serif;
$primary-text-color: $black-7;
$global-line-height: 1.5;

$global-s1: 1rem;
$global-s2: 2rem;
$global-s3: 3rem;
$global-s4: 4rem;

$animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
$animation-duration: 1s;

$global-radius: 0.2rem;
@mixin border(
  $radius: $global-radius,
  $oultine-color: $black-5,
  $oultine-width: $global-s1 * 0.12,
  $oultine-type: ridge
) {
  border-radius: $global-radius;
  outline: $oultine-color $oultine-width $oultine-type;
}

$global-shadow: $global-s1 * 0.4 $global-s1 * 0.4 $global-s1 * 0.5 $black-5;
@mixin shadow() {
  box-shadow: $global-shadow;
}
