/* colors.css */
/* color classes */
$colors: (
  primary: --primary-color,
  secondary: --secondary-color,
  tertiary: --tertiary-color,
  byzantium: --byzantium,
  red: --red,
  yellow: --yellow,
  black: --black,
  white: --white
);

/* @each $key, $value in $colors {
  .text-#{$key} {
    color: var(--#{$value});
  }
  .bg-#{$key} {
    background-color: var(--#{$value});
  }
} */

.text-primary {
  color: var(--primary-color);
}
.text-secondary {
  color: var(--secondary-color);
}
.text-tertiary {
  color: var(--tertiary-color);
}
.text-byzantium {
  color: var(--byzantium);
}
.text-red {
  color: var(--red);
}
.text-yellow {
  color: var(--yellow);
}
.text-black {
  color: var(--black);
}
.text-white {
  color: var(--white);
}

.bg-primary {
  background-color: var(--primary-color);
}
.bg-secondary {
  background-color: var(--secondary-color);
}
.bg-tertiary {
  background-color: var(--tertiary-color);
}
.bg-byzantium {
  background-color: var(--byzantium);
}
.bg-red {
  background-color: var(--red);
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-black {
  background-color: var(--black);
}
.bg-white {
  background-color: var(--white);
}