/* colors.css */
:root {
  --colors-primary: var(--primary-color);
  --colors-secondary: var(--secondary-color);
  --colors-tertiary: var(--tertiary-color);
  --colors-byzantium: var(--byzantium);
  --colors-red: var(--red);
  --colors-yellow: var(--yellow);
  --black: var(--black);
  --white: var(--white);
}

/* color classes */
@let $colors: (
  primary: --primary-color,
  secondary: --secondary-color,
  tertiary: --tertiary-color,
  byzantium: --byzantium,
  red: --red,
  yellow: --yellow,
  black: --black,
  white: --white
);

@each $key, $value in $colors {
  .text-#{$key} {
    color: var(#{$value} / calc(#${$i} * 10));
  }
  .bg-#{$key} {
    background-color: var(#{$value} / calc(#${$i} * 10));
  }

  @let $light: oklch(var(--white) / 100%);
  @let $dark: oklch(var(--black) / 100%);

  @for $i from 1 to $gray-scale {
    .text-#{$key}-light-#{$i},
    .bg-#{$key}-light-#{$i},
    .text-#{$key}-dark-#{$i},
    .bg-#{$key}-dark-#{$i} {
      color: $lightColor;
      background-color: $lightColor;
    }
  }
}
