/* mixins.scss */
@mixin rounded-box {
  border-radius: var(--global-radius);
}

@mixin card {
  box-shadow: var(--global-shadow, calc(var(--global-s1) * 0.4) calc(var(--global-s1) * 0.4) calc(var(--global-s1) * 0.5) var(--black-5));
  padding: var(--global-s2);
  @include rounded-box;
}

.card {
  @include card;
  background-color: var(--primary-background-color);
}


