.card {
  border-radius: var(--global-radius);
  box-shadow: var(--global-shadow, calc(var(--global-s1) * 0.4) calc(var(--global-s1) * 0.4) calc(var(--global-s1) * 0.5) var(--black-5));
  padding: var(--global-s2);
}
