// Import global variables and functions
@import './global';

// Import base and layout styles
@import './base';

// Import colors styles
@import './colors';

// Import utilities (margin, padding, opacity)
@import './components/button';

// Reset styles
body, main, section, article, div, span, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: $primary-font; // Use the primary font
    color: $primary-text-color; // Set the primary text color
    transition: all 0.3s ease; // Apply a transition effect to all properties with a duration of 0.3s
}

// Main styles
body {
    background-color: $black-6;
}
main {
    width: 80%; // Set the width to 80% of the parent container
    margin: auto; // Center align horizontally by setting left and right margins to auto
}

// Paragraph styles
p {
    font-family: $primary-font; // Use the primary font
    margin: 0;
    padding: 0;
    line-height: 1.5; // Set the line height to 1.5 times the font size
}

// Heading 1 styles
h1 {
    margin: $global-s2 0; // Use the global small spacing 2 for top and bottom margins
    color: $black-5; // Set the color to black-5
}

// Heading 2 styles
h2 {
    color: $black-6; // Set the color to black-6
}

// Heading 3 styles
h3 {
    margin: $global-s1; // Use the global small spacing 1 for top and bottom margins
    letter-spacing: .5px; // Set the letter spacing to 0.5px
}

// Code styles
code {
    background-color: $black-2; // Set the background color to black-2
    border-radius: $global-radius; // Use the global radius for rounded corners
    padding: 0px 5px 3px; // Set the padding
    color: $black-7; // Set the color to black-7
}
